h1 {
	font-family: Monospaced !important;
	color: white;
	font-size: 2vw;
	display: block;
}

h2 {
	color: white;
	font-family: Monospaced !important;
	font-size: 1.3vw;
	display: block;
}

#landscape{
	display: block;
}

#portrait{
	display: none;
}

#lvideostream{
	display: block;
	width: 100%;
	height: 100vh;
	object-fit: contain;
	filter:	drop-shadow(0 -10px 0 #4d4c4c) drop-shadow(0 10px 0 #4d4c4c) drop-shadow(-10px 0 0 #4d4c4c) drop-shadow(10px 0 0 #4d4c4c);
}

#logo{
	position: absolute;
	top: 1vw;
	left: 1vw;
	width: 12%;
}

.column {
	float: left;
	height: 100vh;
}

.arrowvert {
	display: block;

	float: left;
	position: relative;

	width: 100%; 
	height: 50%;

	transition: all 0.1s;
	transform-origin: 50% 50%;

	object-fit: contain;
}

.arrowhoriz {
	display: inline-block;

	float: left;
	position: relative;

	width: 50%; 
	height: 100%;

	transition: all 0.1s;
	transform-origin: 50% 50%;

	object-fit: contain;
}


.hoverscale {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

.horizontal {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.menuicon{
	height: 12vh;
	display: inline-block;
	float: left;
	position: relative;
	width: 50%; 
}

#joy_linear{
	width: 45vh;
	margin-left: calc(9vw - 22.5vh);
}

.linearjoy {
  width: 95%;
  height: 8vh;

  margin-top: 28.5vh;
  margin-left: 2.5%;
  margin-right: 2.5%;

  border-radius: 10px;
  background: #4d4c4c;
  outline: none;
  opacity: 1.0;

  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.linearjoy::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10vh;
  height: 10vh;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.linearjoy::-moz-range-thumb {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}