h1 {
	font-family: Monospaced !important;
	color: white;
	font-size: 6vw;
	display: block;
}

h2 {
	color: white;
	font-family: Monospaced !important;
	font-size: 5vw;
}

.menuicon{
	height: 6vh;
	display: inline-block;
	margin-top: 1vh;
	float: left;
	position: relative;
	width: 33%; 
}

#arrowpad{
	display: none;
}

#landscape{
	display: none;
}

#portrait{
	display: block;
}

#pvideostream{
	display: block;
	width: 100vw; 
	height: 100%;
	object-fit: contain;
}

#logo{
	padding-top: 1vh;
	padding-left: 1vh;
	width: 20vh;
}

.arrow {
	display: inline-block;

	float: left;
	position: relative;

	width: 33%; 
	height: 100%;

	transition: all 0.1s;
	transform-origin: 50% 50%;

	object-fit: contain;
}

.arrow2 {
	display: inline-block;
	left: 3vw;
	padding: 5vw;
	height: 14vw;
	width: 14vw;
	transition: all 0.1s;
	transform-origin: 50% 50%;
}
