h2 {
	color: white;
	font-family: Monospaced !important;
	font-size: 5vw;
}

#landscape{
	display: none;
}

#portrait{
	display: block;
}

#pvideostream{
	display: block;
	width: 100vw;
	height: 100%;
	object-fit: contain;
}

#logo{
	position: absolute;
	bottom: 2vw;
	left: 2vw;
	width: 30vw;
}

.arrow {
	display: inline-block;
	left: 3vw;
	padding: 5vw;
	height: 14vw;
	width: 14vw;
	transition: all 0.1s;
	transform-origin: 50% 50%;
}
