<launch>

	<include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch" />

	<node name="server" pkg="magni_web" type="server.py" output="screen">
		<param name="port" value="3000" />
	</node>

	<node name="services_worker" pkg="magni_web" type="services_worker.py" output="screen">
		<param name="settings_path" value="$(env HOME)/.ros/magni_web_settings.cfg" />
	</node>

</launch>
